<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Joke</title>
</head>
<body style="margin: 0;position: absolute;top: 50%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);background-color:red;">
	<figure class="text-center">
		<blockquote class="blockquote">
		<p style="text-align:center;color:white;font-size:3em;">What did one snowman say to the other? Do you smell carrots?</p>
		</blockquote>
	</figure>
	{% if True %}
	<a href="{{url}}" style="bottom:0px;background-color:blue;padding:10px;border-radius:5px;color:white;text-decoration:none;">Next</a>
	{% endif %}
</body>
</html>