<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>happpy birthday</title>
    <style>
        #inoto{

        width:1250px;
        z-index:1;


        }
        #espiosis{

        position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
        }
        #expectum{
        top:10px;
        margin:top;
        z-index:2;
        }
h1{
text-align: center;
margin:auto;
position:relative;
color:white;
}



body{
background-color:#0703ff;

}


    </style>
</head>
<body>
<h1 style="text-align:80%">happy birthday mamu</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dipb0JlU2tY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe id="espeosis">
<img src="https://lh3.googleusercontent.com/proxy/lLmNc9zIKDIqq3ZhAWXnO-H53jTJH3WLcLacDDHzyakRcOflyrGifXUvGuJ-53SuQaDU_joFy0vPRiJc9181_RX5K6tMdj__tubBBfat2UmXcG4n5WbIp-N2QZZIMQXwEb2r31DcqKQ6_LVorQ" alt=""id="expectum">
</body>
</html>